<div class="top-bar-container">
  <strong class="sneakers-logo">sneakers</strong>
  <div class="menu-items-container">
    <span class="menu-item selected">Collections</span>
    <span class="menu-item">Men</span>
    <span class="menu-item">Woman</span>
    <span class="menu-item">About</span>
    <span class="menu-item">Contact</span>
  </div>
  <div class="flex-item-white-space-placeholder"></div>
  <div class="top-bar-right-elements-container">
    <span class="menu-item">Shopping_cart icon</span>
    <span class="menu-item">Avatar placeholder</span>
  </div>
</div>
