<div class="top-bar-container">
  <strong class="sneakers-logo">sneakers</strong>
  <div class="menu-items-container">
    <span class="menu-item selected">Collections</span>
    <span class="menu-item">Men</span>
    <span class="menu-item">Woman</span>
    <span class="menu-item">About</span>
    <span class="menu-item">Contact</span>
  </div>
  <div class="flex-item-white-space-placeholder"></div>
  <div class="top-bar-right-elements-container">
    <i class="material-icons menu-item">cloud</i>
    <div class="avatar-container">
      <img src="assets/images/image-avatar.png" />
    </div>
  </div>
</div>
