<div class="global-container">
  <div class="selected-image-viewer-container">
    <div class="image-container" (click)="imageClicked()">
      <img
        class="selected-image-viewer"
        [src]="images ? images[selectionIndex] : ''"
      />
    </div>
  </div>
  <div class="images-selection-panel">
    <div
      [class.selected]="i === selectionIndex"
      class="selection-item-container"
      (click)="setSelectedIndex(i)"
      *ngFor="let item of images; let i = index"
    >
      <img class="selection-item" [src]="item ? item : ''" />
    </div>
  </div>
</div>
