<div class="global-container">
  <app-top-bar></app-top-bar>
  <div class="page-container">
    <div class="images-viewer-container page-item">
      <app-images-viewer [images]="productModel$?.images"></app-images-viewer>
    </div>
    <div class="item-description-container page-item">
      <span class="company-name-label">SNEAKER COMPANY</span>
      <h1>{{ productModel$?.name }}</h1>
      <p>
        {{ productModel$?.description }}
      </p>
      <span class="price-label">${{ productModel$?.price }}</span>
      <span class="porcentage-discount-label">50%</span>
      <span class="old-price-label">${{ productModel$?.oldPrice }}</span>
      <div class="cart-panel-container">
        <div class="cart-button-box-container">
          <button class="cart-button-box quantity-cart-button">-</button>
          <span class="cart-button-box">3</span>
          <button class="cart-button-box quantity-cart-button">+</button>
        </div>
        <button class="cart-action-button">
          <span>Cart_icon</span>
          <span>Add to cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
