@use '../variables/colors' as c
@use '../variables/fonts' as f

.global-container
  margin-left: auto
  margin-right: auto
  max-width: 900px
  width: 90%


// inside page elements

.page-container
  display: flex
  margin-top: 50px

.page-item
  flex: 1 1 0

.company-name-label
  color: c.$orange-color
  font-size: f.$small-font
.images-viewer-container

.item-description-container
  padding: 50px

.porcentage-discount-label
  background-color: c.$lightorange-color
  color: c.$orange-color
  border-radius: 5px
  margin-left: 10px
  padding: 5px

.old-price-label
  display: block
  color: c.$gray-color
  margin-top: 10px
  font-size: f.$small-font
  text-decoration-line: line-through

.cart-button-box
  border: none
  padding-top: 5px
  padding-bottom: 5px
  padding-left: 10px
  background-color: transparent
  padding-right: 10px

.cart-button-box-container
  display: inline-block
  background-color: c.$lightgray-color


.quantity-cart-button
  color: orange
  font-weight: regular
  cursor: pointer
  font-size: f.$medium-font

.cart-panel-container
  margin-top: 10px
  display: flex
  align-items: center

.cart-action-button
  background-color: c.$orange-color
  display: flex
  justify-content: center
  border: none
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 40px
  padding-right: 40px
  margin-left: 10px
  border-radius: 10px
  color: c.$white-color
  display: inline-flex
  align-items: center
  user-select: none

.cart-action-button:hover
  opacity: 0.8
  cursor: pointer

.cart-action-button-label
  margin-left: 10px
  margin-right: 10px


.semitransparent-layer
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100vw
  height: 100vh
  z-index: 3000
  display: flex
  align-items: center
  justify-content: center
  background-color: #000000a1

.close-button-container
  display: flex
  justify-content: right

.close-button
  background: transparent
  padding-left: 20px
  padding-bottom: 20px
  padding-top: 20px
  right: 0
  border: none
  font-weight: bold
  cursor: pointer
  font-size: x-large
  color: c.$white-color

.close-button:hover
  color: c.$orange-color

.disabled
  background-color: c.$gray-color
  cursor: pointer
  opacity: 0.6

.disabled:hover
  opacity: 0.6

.image-viewer-full-screen-container
  max-width: 500px

.left-side-panel
  background-color: white
  width: 300px
  position: fixed
  left: 0
  top: 80px
  bottom: 0

.menu-item
  display: block
  font-weight: bold
  font-size: x-large
  margin: 20px
